<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarFactory4.0</title>
    <link rel="stylesheet" href="../css/styles.css">


</head>
<body>

    <div class="login-container">
        <h1>CarFactory 4.0</h1>
        <form action="#" method="GET">
            <input type="text" class="input-login" placeholder="Nome de usuário" id="nome_cadastro" required>
            <input type="password" class="input-login" placeholder="Senha" id="senha_cadastro" required>
            <input type="text" class="input-login" id="cpf_cadastro" placeholder="XXX.XXX.XXX-XX" maxlength="14">
            <input type="text" class="input-login" placeholder="Email" id="email_cadastro" required>
            <button type="submit" class="btn-login" id="cadastrar-user">Cadastrar</button>
        </form>
        
    </div>

</body>
<script src="../script/index.js"></script>
</html>