<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> <button id="btn-home" type="button">Voltar para a pagina inicial</button></header>
    <main>
        <h1>entrou</h1>
        <section class="form-area">
            <div class="form">
                <form>
                <input id="nomeProduto" type="text" placeholder="Informe o nome do produto">
                <input id="quantidadeProduto" type="number" placeholder="Informe a quantidade">
                <input id="precoUnitario" type="number" placeholder="Informe o preço unitário">
            </form>
            <button id="salvarInsumo">Cadastrar insumo</button>
            </div>
        </section>
        
        <table id="tabelaProdutos">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome do insumo</th>
                    <th scope="col">Quantidade(un)</th>
                    <th scope="col">Preço(unitário)</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Deletar</th>
                </tr>
            </thead>
            
            <tbody id="tbody">  
            </tbody>
        </table>
       
        
    </main>
    <aside></aside>
    <footer></footer>
    
</body>
</html>