<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo-home">
            <h1>Car Factory 4.0</h1>
            <button id="btn-home" type="button">Voltar para a pagina inicial</button>
        </div>
    </header>
    
        
    <main>
        <section class="introducao">
            <h1>Bem-vindo à area de cadastro de insumos</h1>
            <p>Aqui, você poderá cadastrar, ver, atualizar e apagar seus insumos presentes nas nossas bases de dados.</p>
        </section>
        <section class="form-cadastro-area">
            <div class="inputs-btn">
                <form>
                    <input id="nomeInsumo" type="text" placeholder="Informe o nome do Insumo">
                    <input id="quantidadeInsumo" type="number" placeholder="Informe a quantidade">
                    <input id="precoUnitario" type="number" placeholder="Informe o preço unitário">
                </form>
                <button id="salvarInsumo">Cadastrar insumo</button>
            </div>
        </section>
        
        <table id="tabelaInsumo">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome do insumo</th>
                    <th scope="col">Quantidade(un)</th>
                    <th scope="col">Preço(unitário)</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Apagar</th>
                </tr>
            </thead>
            
            <tbody id="tbody">  
            </tbody>
        </table>
        
        <section>
            <div id="att-area" class="disabled">
                <form id="form-update-area">
                    <button type="button" id="btn-fechar" class="btn-fechar">&times;</button>
                    
                    <input type="text" name="" id="idInsumo" readonly>
                    <input id="attNomeInsumo" type="text" placeholder="Informe o nome do Insumo">
                    <input id="attQuantidadeInsumo" type="number" placeholder="Informe a quantidade">
                    <input id="attPrecoUnitario" type="number" placeholder="Informe o preço unitário">
                    
                    <button type="button" id="btn-atualizar">Atualizar insumo</button>
                </form>
            </div>
        </section>
    </main>
    <aside></aside>
    <footer></footer>
    
</body>
</html>