<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo-home">
            <h1>Car Factory 4.0</h1>
            <button id="btn-home" type="button">Voltar para a pagina inicial</button>
        </div>
    </header>
    
        
    <main>
        <section class="introducao">
            <h1>Bem-vindo à area de de manutenção</h1>
            <p>Aqui, você poderá cadastrar manutenções exercidas em veiculos das nossas bases de dados.</p>
        </section>

        <ul id="listaProducoes">
        </ul>

        <section>
            <div id="cadastro-area" class="disabled">
                <form id="form-cadastro-area">
                    <button type="button" id="btn-fechar" class="btn-fechar">&times;</button>
                    <input type="text" name="" id="fkveiculo" readonly>
                    <textarea id="descricaoManutencao" placeholder="Digite aqui uma descrição do que foi feito:"></textarea>
                    <input type="number" id="valorManutencao" placeholder="Digite o valor da manutenção:">
                    <button type="button" class="btn-atualizar" id="finalizarManutencao">Salvar</button>
                </form>
            </div>
        </section>
    </main>
    <aside></aside>
    <footer></footer>
    
</body>
</html>